

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.jumbotron a {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}












