
.bg-container{
  background-image:url(https://mcdn.wallpapersafari.com/medium/3/5/zJ94qR.jpg);
  height:150vh;
  background-size:cover;
  padding:50px;
}
.button{
 height:36px;
  width:50px;
  color:black;
  background-color:#51fc6d;
}



input[type="submit"] {
    background-color: #42f55a;
    height: 42px;
    width: 132px;
    border-radius: 7px;
    border-width: 0px;
    padding:50px;
}
