
.bg-container{
  background-image:url(https://cdn.wallpapersafari.com/71/99/kV457j.jpg);
  height:100vh;
  background-size:cover;
}
.button{
 height:36px;
  width:50px;
  color:black;
  background-color:#51fc6d;
}



.input[type="submit"] {
    background-color: blueviolet;
    height: 42px;
    width: 132px;
    border-radius: 7px;
    border-width: 0px;
}
