.main-heading{
  font-size:50px;
  text-align:center;
}

.button-class{
  background-color:#42d1d6;
  color:black;
  height:36px;
  width:90px;
  borderradius:7px;
  borderwidth:0px;
}
.button-container{
  text-align:center;
}
